$font-stack-sans:
-apple-system, BlinkMacSystemFont,
"Segoe UI",
"Roboto",
sans-serif !default;

body {
    font-family: "IBM Plex Sans", $font-stack-sans;
}

p.lead {
    font-weight: 400;
}

#donaters {
    overflow-y: hidden;
    height: inherit;
    &:hover {
        overflow-y: auto;
    }
}

h1.display-4,
p.display-2 {
    font-family: "Montserrat", "IBM Plex Sans", $font-stack-sans;
}

.w-45 {
    width: 45%;
}

#donaters {
    p {
        line-height: 1.0;
        small {
            font-size: 70%;
        }
    }
}

.fowe-400 {
    font-weight: 400;
}

.alert.mdi::before {
    margin: 0 3px 0 -3px;
}

.btn.mdi:not(:empty)::before {
    margin: 0 3px 0 -3px;
}

.breadcrumb-item {
    a.mdi,
    span.mdi {
        &::before {
            margin: 0 2px 0 -2px
        }
    }
}

.dropdown-item.mdi::before {
    margin: 0 8px 0 -10px
}

.list-group-item.mdi::before {
    margin: 0 6px 0 -6px;
}

.modal-title.mdi::before {
    margin: 0 4px 0 0;
}

.nav-link.mdi::before {
    margin: 0 4px 0 -4px;
}

.navbar-brand.mdi::before {
    margin: 0 4px 0 0;
}

.popover-title.mdi::before {
    margin: 0 4px 0 -4px;
}